.slider-container {
  width: 100%;
  padding: 0; /* Ensure no padding is added */
}

.thumbnail-container {
  width: 100%;
  outline: none;
  cursor: pointer;
}

.thumbnail-image {
  max-width: 100%;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

/* Override slick-list and slick-track styles */
.slick-list {
  width: 100%;
  padding: 20;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
